[Unit]
Description=Proton qBittorrent Port Allocator and Sync for %i
Wants=proton-wg@%i.service
After=proton-wg@%i.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/proton_project/proton-qbt-allocate-and-sync.sh %i
Nice=10

[Install]
WantedBy=multi-user.target
